body {
    font-family: 'Franklin Gothic Medium';
    background-color: rgb(165, 109, 218);
    color: aliceblue;
}

#container {
    width: 400px;
    height: 400px;
    position: relative;
    background-color: indigo;
}

#animacao {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: #230539;
}